/*
   1. Table Of Contents
   2. CSS Variables
   3. CSS Image Preload

   1. Reset
   2. Headings
   3. Anchors
   4. Form Elements
   5. General Classes
   6. Template & Layout
   7. Tables
*/
/****************************************************************
 1. VARIABLES
****************************************************************/
/****************************************************************
 1. Reset - http://meyerweb.com/eric/tools/css/reset/
****************************************************************/
/* Blueprint handles reset for this site. */
/****************************************************************
 2. Headings
****************************************************************/
h1 {
  font-size: 2.6em;
  text-decoration: none;
}
/****************************************************************
 3. Anchors
****************************************************************/
/****************************************************************
 4. Form Elements
****************************************************************/
legend {
  font-size: 1.6em;
}
input.number {
  width: 60px;
}
.form-table table tbody tr th, .form-table table tbody tr td {
  vertical-align: middle;
}
.form-table table tr.top th, .form-table table tr.top td {
  vertical-align: top;
}
/*--------------------- Buttons ----------------------------*/
/* More styles / credit: http://www.webdesignerwall.com/demo/css-buttons.html */
.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */

  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 13px/100% Arial, Helvetica, sans-serif;
  padding: .4em 1em .45em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.button img {
	vertical-align: bottom;
}
.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}
#comment-form textarea {
  width: 300px;
}
textarea {
  margin-top: 0;
}
.primary {
  background: #007DC3;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  border: solid 1px #0076a3;
  color: #d9eef7;
}
.primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#1b99df), to(#00669f));
  background: -moz-linear-gradient(top, #1b99df, #00669f);
  color: #fff;
}
.primary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  color: #80bed6;
}
/* secondary */
.secondary {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -moz-linear-gradient(top, #ffffff, #ededed);
}
.secondary:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
}
.secondary:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
}
/* small action buttons */
.button-small {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -moz-linear-gradient(top, #ffffff, #ededed);
  font-size: 1em;
  padding: 0.3em 0.7em;
}
.button-small:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
}
.button-small:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: -moz-linear-gradient(top, #ededed, #ffffff);
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
}
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
/****************************************************************
 5. General Classes
****************************************************************/
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
.alignright {
  text-align: right;
}
body .floatright {
  float: right;
}
body.spotlight {
  background: #e6e6e6 url(/images/process/background.jpg) no-repeat;
}
#document .datepicker, .datepicker {
  width: 100px;
}
.error p, .error ul {
  margin: 0;
}
.loading, .loading img {
  font-weight: bold;
  vertical-align: middle;
}
.helpPanel {
  display: none;
}
.overflowBox {
  border: 1px solid #ccc;
  overflow: auto;
  padding: 4px 12px;
}
.popupDialog {
  display: none;
}
small {
  font-size: 0.9em;
}
/*--------------------- Tab Styles ----------------------------*/
.tabs.ui-widget-content {
  border: none;
  margin-bottom: 10px;
}
.tabs.ui-widget {
  font-size: 1em;
}
.tabs .ui-widget-header {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
}
.tabs .ui-state-default, .tabs .ui-widget-content .ui-state-default, .tabs .ui-widget-header .ui-state-default {
  background: #e6e6e6;
}
.tabs .ui-state-active, .tabs .ui-widget-content .ui-state-active, .tabs .ui-widget-header .ui-state-active {
  background: #fff;
}
/****************************************************************
 6. Template & Layout
****************************************************************/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}
#debug-bar {
  background: #F9F9CA;
  border-bottom: 1px solid #C4B973;
  line-height: 2em;
  width: 100%;
}
#debug-bar p {
  margin: 0;
  padding: 0 10px;
}
/*--------------------- Header ----------------------------*/
#header {
  background: #000000;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 5;
}
#header .container {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}
#header #logo {
  position: relative;
  top: 8px;
}
#header #query {
  margin: 0;
  position: relative;
  top: 10px;
  width: 155px;
}
#header ul#navigation {
  left: 100px;
  list-style: none;
  margin: 0;
  top: 0;
}
#header ul#navigation li {
  float: left;
  width: 100px;
}
#header ul#navigation li a {
  background: #000000;
  color: #007dc3;
  float: left;
  font-size: 1.2em;
  font-weight: strong;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
#header ul#navigation li a:hover {
  background: #121212;
  color: #33b0f6;
}
/*--------------------- Content ----------------------------*/
#filters {
  position: relative;
}
#filters button {
  bottom: 30px;
  margin: 0;
  position: absolute;
  right: 20px;
}
#filters button:active {
  position: absolute;
  top: auto;
}
.markdown h1 {
  font-size: 1.8em;
  font-weight: bold;
}
.markdown h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.markdown h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #7c7c7c;
}
.markdown h4 {
  font-size: 1.3em;
  font-weight: bold;
}
.markdown h5 {
  font-size: 1.2000000000000002em;
}
.markdown h6 {
  font-size: 1.1em;
}
/*--------------------- Icons ----------------------------*/
.icon {
  background: no-repeat center;
  display: inline-block;
  height: 16px;
  margin: 0 2px;
  text-indent: -9999px;
  width: 16px;
}
.view {
  background-image: url(/images/icons/magnifier.png);
}
.edit {
  background-image: url(/images/icons/pencil.png);
}
.delete {
  background-image: url(/images/icons/delete.png);
}
.save {
  background-image: url(/images/icons/accept.png);
}
.find {
  background-image: url(/images/icons/magnifier.png);
}
.help {
  background-image: url(/images/icons/help.png);
}
.send {
  background-image: url(/images/icons/email_go.png);
}
.generate {
  background-image: url(/images/icons/calculator.png);
}
.report {
  background-image: url(/images/icons/report.png);
}
.edit-doc {
  background-image: url('/images/icons/page_edit.png');
}
.contacts {
  background-image: url(/images/icons/user_gray.png);
}
.folder {
  background-image: url(/images/icons/folder_go.png);
}
.note {
  background-image: url(/images/icons/note.png);
}
/*--------------------- Login ----------------------------*/
#login {
  margin: 0 auto;
  width: 345px;
}
#login fieldset {
  background: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
#login #login-option {
  float: right;
  margin-top: 5px;
}
/*--------------------- Dashboard ----------------------------*/
#dashboard .large-icon {
  background: #ffffff no-repeat center 10px;
  border: 1px solid #cfcfcf;
  display: inline-block;
  color: #222;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 8px 8px 0;
  padding: 80px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
#dashboard .large-icon:hover {
  background-color: #dfdfdf;
}
#dashboard .documents {
  background-image: url(/images/icons/documents.png);
}
#dashboard .estimates {
  background-image: url(/images/icons/estimates.png);
}
#dashboard .invoices {
  background-image: url(/images/icons/invoices.png);
}
#dashboard .issues {
  background-image: url(/images/icons/issues.png);
}
#dashboard .projects {
  background-image: url(/images/icons/projects.png);
}
#dashboard .status-reports {
  background-image: url(/images/icons/status-reports.png);
}
#dashboard .timelogs {
  background-image: url(/images/icons/timelogs.png);
}
/*--------------------- Document ----------------------------*/
#document .section {
  background: #f1f1f1;
  border: 1px solid #888;
  float: left;
  margin: 0 0 10px 0;
  padding: 2%;
  width: 86%;
}
#document .section .contents {
  display: none;
}
#document input, #document textarea {
  width: 95%;
}
#document #usecase th {
  width: 200px;
}
#document input.select-project {
  width: 250px;
}
#usecase textarea {
  height: 50px;
}
.ui-nestedSortable-error {
  background: #fbe3e4;
  color: #8a1f11;
}
ul.sortable {
  list-style-type: upper-roman;
}
ul.sortable ul {
  list-style-type: upper-alpha;
}
ul.sortable ul ul {
  list-style-type: decimal;
}
ul.sortable .delete {
  float: right;
}
ul.sortable ul ul ul {
  list-style-type: lower-alpha;
}
ul.sortable ul ul ul ul {
  list-style-type: disc;
}
ul.sortable ul ul ul ul ul {
  list-style-type: circle;
}
ul.sortable ul ul ul ul ul ul {
  list-style-type: square;
}
.sortable li div {
  padding: 3px;
  margin: 0;
  cursor: move;
}
.sortable li div:hover {
  background: #E0EFEF;
}
#document table th.id {
  width: 60px;
}
#document table th.title {
  width: 170px;
}
#requirementItems td.name {
  width: 200px;
}
#requirementItems td.description textarea {
  height: 50px;
}
#listDocuments a#new {
  margin-right: 15px;
}
/*--------------------- Estimate ----------------------------*/
#estimate #content {
  height: 400px;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 4px 12px;
  overflow: auto;
}
#estimate #costTable.noedit tfoot tr td {
  font-weight: bold;
}
#estimate #costTable.noedit tbody tr:nth-child(even) th,
#estimate #costTable.noedit tbody tr.even th,
#estimate #costTable.noedit tbody tr:nth-child(even) td,
#estimate #costTable.noedit tbody tr.even td {
  background: #fff;
}
#estimate #costTable.noedit tbody tr:nth-child(odd) th,
#estimate #costTable.noedit tbody tr.odd th,
#estimate #costTable.noedit tbody tr:nth-child(odd) td,
#estimate #costTable.noedit tbody tr.odd td {
  background: #e5ecf9;
}
#estimate #costTable.noedit tbody tr.heading td {
  background: #5F6B7F;
  color: #fff;
}
#estimate #costTable .actions a {
  padding-top: 20px;
}
#estimate #terms {
  height: 400px;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 4px 12px;
}
/*--------------------- Invoice ----------------------------*/
#invoice {
  position: relative;
}
#invoice #address {
  color: #666666;
  margin-top: 25px;
}
#invoice .payment {
  font-size: 24px;
  text-align: center;
}
#invoice .payment h2 {
  margin-bottom: 0;
}
#invoice #invoiceItems .actions a {
  padding-top: 20px;
}
#listInvoices #batch {
  width: 115px;
}
/*--------------------- Project ----------------------------*/
#project #contacts, #project #users {
  height: 100px;
  width: 300px;
}
#viewProject #projectDescription {
  border: 1px solid #ccc;
  overflow: auto;
  padding: 4px 12px;
  max-height: 430px;
}
#viewProject #projectNumber {
  font-size: 0.6em;
}
/*--------------------- Issues ----------------------------*/
#issue #comment {
  height: 80px;
}
#issue #userInfo input {
  width: 80%;
}
#issueForm textarea {
  height: 80px;
}
/* THE SPEECH BUBBLE - http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border {
  background: linear-gradient(top, #ffffff, #e5ecfa);
  background: -moz-linear-gradient(top, #ffffff, #e5ecfa);
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e5ecfa));
  position: relative;
  padding: 15px;
  margin: 0 0 1em;
  border: 1px solid #e5ecf9;
  color: #333;
  /* css3 */

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 850px;
}
.triangle-border .date {
  font-style: italic;
  padding-left: 20px;
}
.triangle-border p {
  margin: 0 0 1em;
}
/* Variant : for left positioned triangle
------------------------------------------ */
.triangle-border.left {
  background: linear-gradient(top, #ffffff, #e5ecfa);
  background: -moz-linear-gradient(top, #ffffff, #e5ecfa);
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e5ecfa));
  margin-left: 10px;
}
/* Variant : for right positioned triangle
------------------------------------------ */
.triangle-border.right {
  background: linear-gradient(top, #ffffff, #dfdfdf);
  background: -moz-linear-gradient(top, #ffffff, #dfdfdf);
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dfdfdf));
  margin-right: 10px;
}
/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border:before {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */

  position: absolute;
  bottom: -40px;
  /* value = - border-top-width - border-bottom-width */

  left: 40px;
  /* controls horizontal position */

  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #e5ecf9;
}
/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */

  position: absolute;
  bottom: -26px;
  /* value = - border-top-width - border-bottom-width */

  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */

  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: #FBFCFF;
}
/* Variant : left
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.left:before {
  top: 10px;
  /* controls vertical position */

  left: -19px;
  /* value = - border-left-width - border-right-width */

  bottom: auto;
  border-width: 11px 18px 11px 0;
  border-style: solid;
  border-color: transparent #e5ecf9;
}
/* creates the smaller  triangle */
.triangle-border.left:after {
  top: 12px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */

  left: -16px;
  /* value = - border-left-width - border-right-width */

  bottom: auto;
  border-width: 9px 16px 9px 0;
  border-style: solid;
  border-color: transparent #FBFCFF;
}
/* Variant : right
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.right:before {
  top: 14px;
  /* controls vertical position */

  right: -18px;
  /* value = - border-left-width - border-right-width */

  bottom: auto;
  left: auto;
  border-width: 11px 0 11px 18px;
  border-style: solid;
  border-color: transparent #EFEFDF;
}
/* creates the smaller  triangle */
.triangle-border.right:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */

  right: -15px;
  /* value = - border-left-width - border-right-width */

  bottom: auto;
  left: auto;
  border-width: 9px 0 9px 16px;
  border-style: solid;
  border-color: transparent #F5F5F6;
}
/*--------------------- Reports ----------------------------*/
/*--------------------- Wiki ----------------------------*
/#wiki #search {
  float: right;
  margin-bottom: 20px;
}
#wiki #search input.text {
  float: left;
  margin: 0 5px 0 0;
  width: 140px;
}
#wiki #search button {
  margin: 0;
}
/*--------------------- Autocomplete ----------------------------*/
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/

  /*width: 100%;*/

  /* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/

  line-height: 16px;
  overflow: hidden;
}
.ac_loading {
  /*background: white url('indicator.gif') right center no-repeat;*/

}
.ac_odd {
  background-color: #eee;
}
.ac_over {
  background-color: #D1E2EF;
  color: #000;
}
/*--------------------- Quick Panels ----------------------------*/
.panel {
  background: #000000;
  border: 1px solid #111111;
  border: 1px solid #444444;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  color: #fff;
  display: none;
  height: auto;
  opacity: .95;
  padding: 20px 120px 20px 20px;
  position: absolute;
  right: 0;
  width: 330px;
  z-index: 9;
}
.panel p {
  color: #cccccc;
  margin: 0 0 15px 0;
  padding: 0;
}
.panel a, .panel a:visited {
  border-bottom: 1px solid #9FC54E;
  color: #9FC54E;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.panel a:hover, .panel a:visited:hover {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
a.trigger {
  background: #222222 no-repeat;
  border: 1px solid #444444;
  border-right: none;
  color: #fff;
  display: block;
  padding: 8px 15px;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: 10px;
  z-index: 10;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
a.trigger img {
  vertical-align: middle;
}
#timelogPanel a.trigger {
  top: 60px;
}
#timelogPanel .panel {
  top: 55px;
}
#timelogPanel #quickDescription {
  height: 100px;
  width: 300px;
}
#activityPanel textarea {
  height: 100px;
  width: 300px;
}
#activityPanel a.trigger {
  top: 100px;
}
#activityPanel .panel {
  top: 95px;
}
#linkPanel a.trigger {
  top: 140px;
}
#linkPanel .panel {
  top: 135px;
}
/*--------------------- Footer ----------------------------*/
#footer {
  background: #ccc;
  float: left;
  width: 100%;
}
#footer a {
  color: #333;
}
#footer .container {
  margin-top: 20px;
}
#footer ul, #footer li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#footer li {
  font-size: 1.1em;
  font-weight: bold;
}
#footer li ul li {
  font-size: 0.9em;
  font-weight: normal;
  margin: 5px 0 0 0;
}
#footer, #push {
  height: 200px;
}
/*--------------------- Dialogs ----------------------------*/
.list-wrap {
  height: 500px;
  position: relative;
  overflow: auto;
  width: 100%;
}
.dialog-header {
  width: 100%;
}
.dialog-header .search {
  clear: both;
  float: right;
  text-align: right;
  width: 300px;
}
.dialog-header .search label {
  color: #333;
  font-size: 0.8em;
}
.dialog-header .search input {
  border: 1px solid #ccc;
  clear: both;
  color: #333;
  font-size: 0.8em;
  padding: 3px;
  width: 200px;
}
.new-document ul li {
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  width: 110px;
}
.new-document ul li a {
  background-repeat: no-repeat;
  background-position: top left;
  color: #333;
  float: left;
  height: 50px;
  padding-top: 100px;
  text-align: center;
  text-decoration: none;
  width: 96px;
}
.new-document .creative {
  background-image: url(/images/icons/document-creative.png);
}
.new-document .requirements {
  background-image: url(/images/icons/document-requirements.png);
}
/*--------------------- Web SVN ----------------------------*/
#websvn {
  min-height: 500px;
}

/*------------------- User Stories --------------------------*/
#stories, 
#stories li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#stories li {
	background: #FFFFE0;
	border: 1px solid #D3D394;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
}
#stories input {
	width: 95%;
}
#stories input,
#stories select {
	padding: 4px;
}
#stories .notes textarea {
	height: 30px;
	width: 99%;
}
#viewStories .story {
	background: #FFFFE0;
	border: 1px solid #D3D394;
	margin-bottom: 10px;
	padding: 10px;
}

/****************************************************************
 7. Tables
****************************************************************/
table th, table td {
  vertical-align: top;
}
/* Header/Row highlights */
thead th {
  background: none repeat scroll 0 0 #313C4F;
  color: #fff;
}
tbody tr:nth-child(even) th,
tbody tr.even th,
tbody tr:nth-child(2n) td,
tbody tr.even td {
  background: none repeat scroll 0 0 #E5ECF9;
}
/* Links in a span/div */
.actions a {
  margin-right: 10px;
}
/* Links/icons in a table */
td.actions a {
  margin-right: 2px;
}
.money {
  text-align: right;
}
.total, .total td {
  font-weight: bold;
}
table .num {
  text-align: center;
  vertical-align: middle;
}

